body{
	background-color:#43467f;
}
p{
	color:#50B83C;
}
h1{
	text-align:center;	
	color:white;
	font-family: "Helvetica", sans-serif;
	text-transform:uppercase;
}
div
{	margin:auto;
	background-color:white;
	width:80%;
	padding:2rem 2rem 2rem 2rem;
}
img
{
	width:50%;
}
a{
	background-color:white;
	padding:1rem;
	border:blue 2px dotted;
}
